@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #acb0d3;
	--text-color: #000000;
	--container-bg: #e7e7e7;
	--input-bg: #ffffff;
	--icon-color: #000000;
	--icon-hover-color: #009700;
	--input-text: #000000;
	--placeholder-text: #6d697a;
	--border-color: #ffffff;
	--table-border: #dddddd;
	--table-header-bg: #f9f9f9;
	--table-description-bg: #333333;
	--table-header-text: #000000;
	--table-cell-bg: #ffffff;
	--table-cell-text: #000000;
	--border-radius: 8px; /* Default border radius for light theme */
	--nav-color: #5f6dbb;
}

[data-theme='dark'] {
	--background-color: #292929;
	--text-color: #ffffff; /* Ensure this is black */
	--container-bg: #121212; /* Black background for dark mode */
	--add-item-color: #60ffaf;
	--input-bg: #1d1d1d;
	--icon-color: #ffffff;
	--icon-hover-color: #60ffaf;
	--input-text: #6d697a;
	--placeholder-text: #6d697a;
	--border-color: #000000;
	--table-border: #444444;
	--table-header-bg: #222222;
	--table-description-bg: #333333;
	--table-header-text: #ffffff;
	--table-cell-bg: #333333;
	--table-cell-text: #ffffff;
	--border-radius: 16px; /* Border radius for dark theme */
	--nav-color: #121212;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		'Liberation Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}

input {
	background-color: var(--input-bg);
	color: var(--input-text);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

input::placeholder {
	color: var(--placeholder-text);
}
.table th,
.table td {
	padding: 0.5rem;
	text-align: left;
	border: 1px solid var(--table-border);
	border-radius: var(--border-radius);
}

.table th {
	background-color: var(--table-header-bg);
	color: var(--table-header-text);
}

.table td {
	background-color: var(--table-cell-bg);
	color: var(--table-cell-text);
}
